.scroll-container {
    overflow-x: auto;
  }
  
  .table-wrapper {
    width: 100%;
    overflow-x: auto;
  }
  
  .tabla {
    width: 100%;
    white-space: nowrap; 
  }

  .nuevo{
    --background: #2c507c;
    --color: #fff;
  }
  .cancelar{
    --background: #b1473f;
    --color: #fff;
  }
  
  .tabla th, .tabla td {
    padding: 8px; 
  }
  
