<app-main-header titulo="Lavado de Vehiculos"></app-main-header>
<ion-content [fullscreen]="true" id="main-content">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-segment [(ngModel)]="segmento" *ngIf="rol.id !== 1">
    <ion-segment-button value="pago" *ngIf="caja" (click)="cargarposcobrar()">
      <ion-label>Lavado</ion-label>
    </ion-segment-button>
    <ion-segment-button value="hoy" (click)="historial()">
      <ion-label>Historial</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- <ion-button expand="block" style="display: none;" class="crear" (click)="AbrirModalLavadoNuevo()">Crear Lavado</ion-button> -->
  <!-- <ion-button expand="block" style="display: block;" class="crear" (click)="AbrirModalLavadoNuevo()">Crear Lavado</ion-button> -->


  <div *ngIf="segmento === 'pago'" class="ion-padding">
    <ion-card *ngIf="loaded">
      <span style="padding-left: 10px; padding-top: 10px; margin-top: 5px;">Nuevo lavado</span>
      <ion-grid>

        <ion-row class="ion-align-items-center ion-justify-content-between">
          <!-- Selector de Vehículo -->
          <ion-col size="4">
            <ion-select label="Selecciona vehiculo" label-placement="floating" fill="outline" interface="action-sheet"
              [(ngModel)]="vehiculo" placeholder="Selecciona un tipo de vehículo">
              <ion-select-option *ngFor="let vehiculo of vehiculos" [value]="vehiculo">
                {{ vehiculo.tipo_vehiculo }}
              </ion-select-option>
            </ion-select>
          </ion-col>

          <!-- Botón de Seleccionar Servicio -->
          <ion-col size="4">
            <div class="custom-select inpt ion-text-center"
              style="border: 0.5px solid rgb(172, 164, 164); padding: 12px; border-radius: 5px; cursor: pointer; height: 55px;"
              role="button" (click)="selecionarserivcio()">
              {{btntxt}}
            </div>
          </ion-col>

          <!-- Botón de Agregar -->
          <ion-col size="4">
            <ion-button style="height: 55px;" expand="block" class="crear" (click)="Guardar()">Agregar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card>
      <ion-card-content class="scroll-container">
        <ion-button *ngIf="selectedLavados.length > 0" (click)="multuple()" class="btn crear ion-margin-bottom"
          style="width: 100%;">Cobrar seleccionados</ion-button><br>
        <div class="table-wrapper">
          <table class="tabla" *ngIf="loaded">
            <thead>
              <tr>
                <th *ngIf="segmento === 'pago'">Select</th>
                <th>NO</th>
                <th>Vehiculo</th>
                <th>Servicios</th>
                <th colspan="2">Total</th>
              </tr>
            </thead>
            <tbody *ngIf="lavados.length > 0; else noData">
              <tr *ngFor="let lavado of lavados">
                <td *ngIf="segmento === 'pago'">
                  <ion-checkbox slot="start" [(ngModel)]="lavado.selected"
                    (ionChange)="toggleSelection(lavado)"></ion-checkbox>
                </td>
                <td>{{lavado.id}}</td>
                <td>{{lavado.lavadodet[0]?.Tipos_Vehiculos?.tipo_vehiculo}}</td>
                <td>
                  <ul>
                    <li *ngFor="let det of lavado.lavadodet">{{det.Servicios.nombre_servicio}} ${{det.Servicios.precio}}
                    </li>
                  </ul>
                </td>
                <td>${{lavado.total}}</td>
                <td class="actions-cell">
                  <ion-button fill="clear" (click)="Opciones(lavado)">
                    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                  </ion-button>
                </td>
              </tr>
            </tbody>
            <ng-template #noData>
              <tr>
                <td colspan="6" class="no-data-cell">No se encontraron vehiculos pendientes de cobro</td>
              </tr>
            </ng-template>
          </table>
          <app-skeleton *ngIf="!loaded" [columns]="6" type="tabla"></app-skeleton>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="segmento === 'hoy'" class="ion-padding">
    <ion-card>
      <ion-card-content class="scroll-container" *ngIf="loaded">
        <ion-item slot="end">
          <ion-label *ngIf="rol.id === 1">Seleccionar Fecha</ion-label>
          <ion-label *ngIf="rol.id !== 1">Hoy</ion-label>
          <ion-select *ngIf="rol.id === 1" [(ngModel)]="idu" (ionChange)="change()" label="Sucursal">
            <ion-select-option *ngFor="let sucursal of sucursales" [value]="sucursal.id">{{ sucursal.sucursal
              }}</ion-select-option>
          </ion-select>
          <ion-button *ngIf="rol.id === 1" style="height: 100%;" (click)="openFilter($event)" class="crear">
            <ion-icon slot="start" name="filter"></ion-icon>
            <ion-label>Fecha</ion-label>
          </ion-button>
          <ion-button (click)="obtenerLavados(2, true)" style="height: 100%;" class="crear">
            <ion-label>Recargar</ion-label>
          </ion-button>
          <ion-button style="margin-left: 8px;" color="danger" *ngIf="filtered" (click)="deletefilter()" class="crear">
            <ion-icon slot="start" name="trash"></ion-icon>
            <ion-label>Eliminar filtros</ion-label>
          </ion-button>
        </ion-item>
        <div class="table-wrapper">
          <table class="tabla">
            <thead>
              <tr>
                <th>NO</th>
                <th>Vehiculo</th>
                <th>Servicios</th>
                <th>Fecha</th>
                <th colspan="2">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let lavado of lavados">

                <td>{{lavado.id}}</td>
                <td>{{lavado.lavadodet[0].Tipos_Vehiculos.tipo_vehiculo}}</td>
                <td>
                  <ul>
                    <li *ngFor="let det of lavado.lavadodet">{{det.Servicios.nombre_servicio}} ${{det.Servicios.precio}}
                    </li>
                  </ul>
                </td>
                <td>{{lavado.fecha}}</td>
                <td>${{lavado.total}}</td>
                <td>
                  <ion-button fill="clear" (click)="Opciones2(lavado)">
                    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                  </ion-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </ion-card-content>
      <ion-card-content *ngIf="!loaded">
        <app-skeleton *ngIf="!loaded" [columns]="6" type="tabla"></app-skeleton>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="pagination-container" *ngIf="pagina.PaginationEnabled">
    <ion-button (click)="paginaAnterior()" [disabled]="pagina.PaginaActual === 0" fill="clear" color="primary">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-label>{{ pagina.PaginaActual }} de {{ pagina.TotalPages }}</ion-label>
    <ion-button (click)="paginaSiguiente()" [disabled]="pagina.PaginaActual === pagina.TotalPages" fill="clear"
      color="primary">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>