ion-card {
    height: 100px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

ion-card-title {
    font-size: 14px;
    font-weight: bold;
}

ion-card-content p {
    font-size: 12px;
}

@media (max-width: 768px) {
    ion-col {
        size: 12;
    }
}