<ion-header>
  <ion-toolbar>
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-item>
      </ion-item>

      <ion-item>
      </ion-item>

      <ion-item>
        <!-- <ion-input labelPlacement="floating" disabled="true" label="Sucursal" name="sucursal" placeholder="Capacidad" [(ngModel)]="sucursal" type="text" clearInput></ion-input> -->
      </ion-item>
      <ion-button expand="full" (click)="confirmar()">Guardar</ion-button>
    </ion-list>
  </div>
</ion-content>
