
    .order-info {
      margin-bottom: 20px;
    }
  
    .order-section {
      margin-top: 20px;
    }
  
    .order-item {
      margin-bottom: 15px;
    }
  
    h3.section-header {
      margin-bottom: 10px;
      font-weight: bold;
      padding: 10px;
      background-color: #f0f0f0; /* Color de fondo del separador */
      border-radius: 5px; /* Opcional: redondea los bordes */
    }

    .custom-select-button {
      text-align: left;
      border-radius: 4px;
      border: 1px solid #ced4da;
      --background: #fff;
      --color : #000
      padding: 10px;
      width: 100%;
      height: 40px;
      font-size: 12px;
    }
    
    .custom-select-button::after {
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 16px;
    }
    
  
    p {
      margin: 0;
      font-size: 16px;
    }
  
    strong {
      font-weight: bold;
    }

    .order-details{padding: 15px;}
  
