<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Detalle de la orden</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="order-details">
    <ion-card class="custom-card ion-padding">
      <ion-item lines="none">
        <ion-label position="floating">Nombre Cliente</ion-label>
        <ion-input type="text" [(ngModel)]="NewOrden.nombrecliente" [disabled]="estadoCreacion === 1"
          name="nombrecliente" required></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating">Nombre Orden</ion-label>
        <ion-input type="text" [(ngModel)]="NewOrden.orden" name="orden" [disabled]="estadoCreacion === 1"
          required></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating">Observaciones</ion-label>
        <ion-input type="text" [(ngModel)]="NewOrden.observaciones" [disabled]="estadoCreacion === 1"
          name="observaciones"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button *ngIf="estadoCreacion == 0" expand="full" type="submit" (click)="CrearOrden()">Ir a
            detalles</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
    <hr>
    <ion-card class="custom-card ion-padding">
      <ion-segment *ngIf="estadoCreacion == 1" [(ngModel)]="tipo">
        <ion-segment-button value="default">
          <ion-text>Platillos</ion-text>
        </ion-segment-button>
        <ion-segment-button value="bebida">
          <ion-text>Bebidas</ion-text>
        </ion-segment-button>
      </ion-segment>
      <div *ngIf="tipo == 'default' && estadoCreacion == 1">
        <ion-item lines="none">
          <ion-button expand="full" (click)="platillosselect($event, true)" class="custom-select-button">
            Seleccionar Producto
            <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="floating">Cantidad</ion-label>
          <ion-input type="number" [(ngModel)]="detallePlatillo.cantidad" name="cantidad" required></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="floating">Observaciones</ion-label>
          <ion-input type="text" [(ngModel)]="detallePlatillo.observaciones" name="observaciones"></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit" (click)="crearDetalle(detallePlatillo)">Agregar a la orden</ion-button>
      </div>
      <div *ngIf="tipo !== 'default'">
        <ion-button expand="full" (click)="platillosselect($event, false)" class="custom-select-button">
          Seleccionar Bebida
          <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
        </ion-button>
        <ion-item lines="none">
          <ion-label position="floating">Cantidad</ion-label>
          <ion-input type="number" [(ngModel)]="DetalleBebida.cantidad" name="cantidad" required></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit" (click)="crearDetalle(DetalleBebida)">Agregar a la orden</ion-button>
      </div>
    </ion-card>
    <hr>
    <div class="order-details">
      <div *ngIf="OrdenDetalles.ordenesplatillos && OrdenDetalles.ordenesplatillos.length !== 0">
        <h3 class="section-header">Detalles de los Platillos</h3>
        <div class="order-item" *ngFor="let platillo of OrdenDetalles.ordenesplatillos">
          <p><strong>{{platillo.platillos.nombre}}</strong></p>
          <p>Cantidad: {{platillo.cantidad}}</p>
          <p>Observaciones: {{platillo.observaciones}}</p>
        </div>
      </div>
      <div *ngIf="OrdenDetalles.ordenesbebidas && OrdenDetalles.ordenesbebidas.length !== 0">
        <h3 class="section-header">Detalles de las bebidas</h3>
        <div class="order-item" *ngFor="let bebida of OrdenDetalles.ordenesbebidas">
          <p><strong>{{bebida.bebidas.nombre}}</strong></p>
          <p>Cantidad: {{bebida.cantidad}}</p>
        </div>
      </div>
    </div>
    <ion-item *ngIf="estadoCreacion == 1">
      <ion-label position="floating">Total</ion-label>
      <ion-input type="number" [disabled]='true' [(ngModel)]="NewOrden.total" name="total" required></ion-input>
    </ion-item>
    <ion-button *ngIf="estadoCreacion == 1" expand="full" type="submit">Guardar</ion-button>
  </ion-content>