<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dissmiss()" fill="clear">
        <h1><ion-icon color="light" name="arrow-back-outline"></ion-icon></h1>
      </ion-button>
    </ion-buttons>
    <ion-title slot="start">Información de la orden</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="order-details">
  <!-- Sección Detalles de la Orden -->
  <!-- <ion-card class="custom-card">
    <ion-card-content class="ion-padding">
      <ion-item lines="none">
        <ion-input type="text" labelPlacement="floating" label="Nombre Cliente" [(ngModel)]="NewOrden.nombrecliente"
          [disabled]="estadoCreacion === 1" name="nombrecliente" required></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input type="text" labelPlacement="floating" label="Nombre Orden" [(ngModel)]="NewOrden.orden" name="orden"
          [disabled]="estadoCreacion === 1" required></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input type="text" label="Observaciones" labelPlacement="floating" [(ngModel)]="NewOrden.observaciones"
          [disabled]="estadoCreacion === 1" name="observaciones"></ion-input>
      </ion-item>

      <ion-button *ngIf="estadoCreacion == 0" expand="full" type="submit" (click)="CrearOrden()">Ir a
        detalles</ion-button>
    </ion-card-content>
  </ion-card> -->

  <!-- Sección Detalles del Pedido -->
  <ion-card class="custom-card">
    <ion-card-content class="ion-padding">
      <ion-segment [(ngModel)]="tipo">
        <ion-segment-button value="default">
          <ion-text>Platillos</ion-text>
        </ion-segment-button>
        <ion-segment-button value="bebida">
          <ion-text>Bebidas</ion-text>
        </ion-segment-button>
      </ion-segment>
      <br><br>
      <div *ngIf="tipo == 'default' ">
        <ion-item lines="none">
          <div class="custom-select" role="button" (click)="Select(true, $event)">
            <div class="selected-item">
              <span>{{detallep != "" ? detallep : "Seleccionar platillo"}}</span>
            </div>
          </div>
        </ion-item>

        <ion-item lines="none">
          <ion-input type="number" label="Cantidad" labelPlacement="floating" [(ngModel)]="detallePlatillo.cantidad"
            name="cantidad" required></ion-input>
            <ion-buttons slot="end">
              <ion-button fill="clear" (click)="decreaseQuantity(false)" style="--size: 50px;">
                <ion-icon name="remove-circle-outline" style="font-size: 40px;"></ion-icon>
              </ion-button>
              <ion-button fill="clear" (click)="increaseQuantity(false)" style="--size: 50px;">
                <ion-icon name="add-circle-outline" style="font-size: 40px;"></ion-icon>
              </ion-button>
            </ion-buttons>            
        </ion-item>


        <ion-item lines="none">
          <ion-input type="text" label="Observaciones" labelPlacement="floating"
            [(ngModel)]="detallePlatillo.observaciones" name="observaciones"></ion-input>
        </ion-item>

        <ion-button expand="full" type="submit" (click)="crearDetalle(detallePlatillo)">Agregar a la orden</ion-button>
      </div>

      <div *ngIf="tipo !== 'default'">
        <ion-item lines="none">
          <div class="custom-select" role="button" (click)="Select(false, $event)">
            <div class="selected-item">
              <span>{{detalleb!=""?detalleb:"Seleccionar Bebida"}}</span>
            </div>
          </div>
        </ion-item>
        <ion-item lines="none">

          <ion-input type="number" label="Cantidad" labelPlacement="floating" [(ngModel)]="DetalleBebida.cantidad"
            name="cantidad" required></ion-input>
          <ion-buttons slot="end">
            <ion-button fill="clear" (click)="decreaseQuantity(true)" style="--size: 50px;">
              <ion-icon name="remove-circle-outline" style="font-size: 40px;"></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="increaseQuantity(true)" style="--size: 50px;">
              <ion-icon name="add-circle-outline" style="font-size: 40px;"></ion-icon>
            </ion-button>
          </ion-buttons>

        </ion-item>

        <ion-button expand="full" type="submit"
          (click)="crearDetalle(!isprep ? DetalleBebida : detallePlatillo)">Agregar a la orden</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Sección Detalles de la Orden -->
  <ion-card class="custom-card" *ngIf="OrdenDetalles.ordenesplatillos|| OrdenDetalles.ordenesbebidas">
    <ion-card-content class="ion-padding">
      <div class="order-details">
        <div *ngIf="OrdenDetalles.ordenesplatillos && OrdenDetalles.ordenesplatillos.length !== 0">
          <h3 class="section-header">Detalles de los Platillos</h3>
          <div class="order-item" *ngFor="let platillo of OrdenDetalles.ordenesplatillos">
            <div class="info" *ngIf="platillo.estado !=2">

              <p><strong>{{platillo.platillos.nombre}}</strong></p>
              <p>Cantidad: {{platillo.cantidad}}</p>
              <p>Observaciones: {{platillo.observaciones}}</p>
              <div class="button-container">
                <ion-button fill="clear" (click)="Opciones(platillo, true)">
                  <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                </ion-button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="OrdenDetalles.ordenesbebidas && OrdenDetalles.ordenesbebidas.length !== 0">
          <h3 class="section-header">Detalles de las bebidas</h3>
          <div class="order-item" *ngFor="let bebida of OrdenDetalles.ordenesbebidas">
            <div class="info">
              <p><strong>{{bebida.bebidas.nombre}}</strong></p>
              <p>Cantidad: {{bebida.cantidad}}</p>
              <div class="button-container">
                <ion-button fill="clear" (click)="Opciones(bebida, false)">
                  <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                </ion-button>
              </div>
            </div>
          </div>
        </div>
        <div style="width: 100%;" *ngIf="OrdenDetalles.estado === -1">
          <ion-button style="width: 100%;" (click)="enviarcocina(2)" slot="end" color="warning">
            Enviar a cocina
            <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
          </ion-button>
        </div>
      </div>

      <!-- <ion-item lines="none">
        <ion-input labelPlacement="floating" label="Total" type="number" [disabled]='true' [(ngModel)]="NewOrden.total"
          name="total" required></ion-input>
      </ion-item> -->

    </ion-card-content>
  </ion-card>
</ion-content>