<app-main-header titulo="Caja"></app-main-header>
<ion-content [fullscreen]="true" id="main-content">
  <ion-segment [(ngModel)]="segmento">
    <ion-segment-button value="pago">
      <ion-label>Pendientes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="hoy" (click)="historial()">
      <ion-label>Cobradas</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-content *ngIf="segmento === 'pago'" class="ion-padding">
    <div class="no-orders" *ngIf="ordenes.length === 0">
      <h3 class="ion-text-center">No hay ordenes pendientes de cobro</h3>
    </div>

    <div class="ordenes" *ngIf="ordenes.length != 0">
      <ion-card *ngFor="let orden of ordenes">
        <ion-card-header>
          <ion-card-subtitle>ID de Orden: {{ orden.id }}</ion-card-subtitle>
          <ion-card-subtitle>Fecha: {{ orden.fecha }}</ion-card-subtitle>
          <ion-card-subtitle>Cliente: {{ orden.nombrecliente }}</ion-card-subtitle>
          <ion-card-subtitle>Mesa: {{ orden.mesas.descripcion }}</ion-card-subtitle>
        </ion-card-header>
  
        <ion-card-content>
          <ion-button expand="block" color="success" (click)="cobrarOrden(orden)">Cobrar Orden</ion-button>
        </ion-card-content>
  
      </ion-card>
    </div>

  </ion-content>


  <ion-content *ngIf="segmento === 'hoy'" class="ion-padding">
    <ion-card>
      <ion-card-content class="scroll-container">
        <ion-item slot="end">
          <ion-label></ion-label>

          <ion-button (click)="openFilter($event)" class="crear">
            <ion-icon slot="start" name="filter"></ion-icon>
            <ion-label>Fecha</ion-label>
          </ion-button>
          <ion-button style="margin-left: 8px;" color="danger" *ngIf="filtered" (click)="deletefilter()" class="crear">
            <ion-icon slot="start" name="trash"></ion-icon>
            <ion-label>Eliminar filtros</ion-label>
          </ion-button>
        </ion-item>
        <div class="table-wrapper">
          <table class="tabla">
            <thead>
              <tr>
                <th>NO</th>
                <th>Orden</th>
                <th>Mesa</th>
                <th>nombrecliente</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cf of cobradasfilter">
                <td>{{cf.id}}</td>
                <td>{{cf.orden}}</td>
                <td>{{cf.mesas.descripcion}}</td>
                <td>{{cf.nombrecliente}}</td>
                <td>${{cf.total}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="pagination-container">
          <ion-button (click)="paginaAnterior()" [disabled]="currentPage === 1" fill="clear" color="primary">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </ion-button>

          <ion-label>{{ currentPage }} de {{ totalPages }}</ion-label>

          <ion-button (click)="paginaSiguiente()" [disabled]="currentPage === totalPages" fill="clear" color="primary">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </div>

      </ion-card-content>
    </ion-card>
  </ion-content>

</ion-content>