<app-main-header titulo="Caja"></app-main-header>
<ion-content [fullscreen]="true" id="main-content">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-segment [(ngModel)]="segmento" *ngIf="rol.id!==1">
    <ion-segment-button value="pago">
      <ion-label>Pendientes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="hoy" (click)="historial()">
      <ion-label>Cobradas</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-content *ngIf="segmento === 'pago'" class="ion-padding">
    <div class="no-orders" *ngIf="ordenes.length === 0 && mensaje != error">
      <h3 class="ion-text-center">No hay ordenes pendientes de cobro</h3>
    </div>

    <div class="no-orders" *ngIf="mensaje == error ">
      <ion-card class="custom-card">
        <ion-card-content>
          <h3 class="ion-text-center">{{mensaje}}</h3>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-list lines="none" *ngIf="ordenes.length > 0">
      <ng-container *ngFor="let estado of agruparPorEstado(ordenes)">
        <ion-item-divider >{{ os.getEstado(estado.nombre) }}</ion-item-divider>
        <ion-row>
          <ion-col size-lg="4" size-sm="12" *ngFor="let orden of estado.ordenes" class="ion-padding">
            <ion-card class="orden-card">
              <ion-card-header>
                <ion-card-title>Orden #{{ orden.id }}</ion-card-title>
                <ion-card-subtitle>Fecha: {{ orden.fecha | date: 'shortDate' }}</ion-card-subtitle>
                <ion-card-subtitle>Mesa: {{ orden.mesas.descripcion }}</ion-card-subtitle>
                <ion-card-subtitle>Mesa: {{ os.getEstado(orden.estado) }}</ion-card-subtitle>
              </ion-card-header>
    
              <ion-card-content>
                <!-- Botón para cobrar la orden -->
                <ion-button expand="fill"  (click)="cobrarOrden(orden)" class="crear">
                  Cobrar Orden
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ng-container>
      <ion-item *ngIf="!loaded">No hay órdenes disponibles</ion-item>
    </ion-list>
    


  </ion-content>


  <ion-content *ngIf="segmento === 'hoy'" class="ion-padding">
    <ion-card *ngIf="loaded">
      <ion-card-content class="scroll-container">
        <ion-item slot="end">
          <ion-label *ngIf="rol.id !== 1">Ordenes de hoy</ion-label>
          <ion-label></ion-label>
          <ion-select *ngIf="rol.id === 1"  [(ngModel)]="ids" (ionChange)="change()" label="Sucursal">
            <ion-select-option *ngFor="let sucursal of sucursales" [value]="sucursal.id">{{ sucursal.sucursal
              }}</ion-select-option>
          </ion-select>
          <ion-button (click)="openFilter($event)" style="height: 100%;" class="crear">
            <ion-icon slot="start" name="filter"></ion-icon>
            <ion-label>Fecha</ion-label>
          </ion-button>
          <ion-button (click)="historial()"  style="height: 100%;" class="crear">
            <ion-label>Recargar</ion-label>
          </ion-button>
          <ion-button style="margin-left: 8px;" color="danger" (click)="delfil()"  style="height: 100%;" *ngIf="filtered" class="crear">
            <ion-icon slot="start" name="trash"></ion-icon>
            <ion-label>Eliminar filtros</ion-label>
          </ion-button>
        </ion-item>
        <div class="table-wrapper">
          <table class="tabla">
            <thead>
              <tr>
                <th>NO</th>
                <th>Mesa</th>
                <th>Atendió</th>
                <th>Tiempo preparando</th>
                <th>Fecha</th>
                <th colspan="2">Total</th>
              </tr>
            </thead>
            <tbody *ngIf="cobradas.length !==0">
              <tr *ngFor="let cf of cobradas">
                <td>#{{cf.id}}</td>
                <td>{{cf.mesas.descripcion}}</td>
                <td>{{cf.usuarios.nombre}}</td>
                <td>{{ transformarTiempo(cf.tiempo) }}</td>
                <td>{{cf.fecha}}</td>
                <td>${{cf.total}}</td>
                <td class="actions-cell">
                  <ion-button fill="clear" (click)="Opciones(cf)">
                    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                  </ion-button>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="cobradas.length ===0">
              <tr>
                <td colspan="6">No se han realizado ordenes</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="pagination-container ion-text-center">
          <ion-button [disabled]="!puedeRetroceder()" (click)="retrocederOrdenes(5)" fill="clear" color="primary">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </ion-button>

          <ion-label>Mostrando {{inicio+1}} - {{fin+inicio}}</ion-label>

          <ion-button [disabled]="!puedeCargarMas()" (click)="cargarMasOrdenes(5)" fill="clear" color="primary">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    <app-skeleton *ngIf="!loaded" [columns]="5" type="cards"></app-skeleton>
  </ion-content>

</ion-content>