<!-- <ion-header>
  <ion-toolbar>
    <ion-title>{{titulo}} Producto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<app-main-header titulo="{{titulo}} Producto" [isModal]="true"></app-main-header>
<ion-content>
  <ion-card class="custom-card">
    <ion-card-content>
      <ion-list-header>
        <h1>Productos</h1>
      </ion-list-header>
      <ion-item lines="none">
        <ion-input label="Nombre del producto" labelPlacement="floating" placeholder="Nombre" [(ngModel)]="nombre"
          clearInput>
        </ion-input>
      </ion-item>

      <!-- <ion-item lines="none">
        <ion-input label="Cantidad" labelPlacement="floating" placeholder="Cantidad" [(ngModel)]="cantidad"
          type="number" clearInput>
        </ion-input>
      </ion-item> -->

      <ion-item lines="none">
        <ion-select [(ngModel)]="categoria" [disabled]="idcategoria !== 0" placeholder="Categoría">
          <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.categoria
            }}</ion-select-option>
          <app-skeleton *ngIf="!loaded" [columns]="1" type="option"></app-skeleton>

        </ion-select>
      </ion-item>

      <ion-button expand="full" (click)="guardarProducto()">Guardar</ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>