<app-main-header titulo="Ordenes"></app-main-header>
<ion-content id="main-content" *ngIf="caja">
  <ion-grid>
    <ion-row>
      <ion-col size-lg="4" size-sm="12" *ngFor="let mesa of mesas">
        <div class="image-container" style="cursor: pointer;" (click) = "VerOrden(mesa)">
          <img [src]="images[mesa.ordenes.length !== 0 ? 0:1]" alt="Imagen de fondo">
          <div class="text-overlay">
            <p class="ion-text-center">{{mesa.descripcion}}</p>
            <p color="success" *ngIf="mesa.ordenes.length !== 0">Ocuapda</p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content id="main-content" *ngIf="!caja">
  <ion-card class="custom-card">
    <ion-card-content>
      <h5>La caja se encuentra cerrada, no se pueden realizar ordenes aún</h5>
    </ion-card-content>
  </ion-card>
</ion-content>