.plato-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  .plato-item ion-label {
    font-size: 16px;
  }

  .plato-item :hover{
    background-color : #2c507c;
  }
  
