<ion-menu menuId="second-menu" type="overlay" side="end" contentId="main-content">

  <!-- Header con avatar y datos del usuario -->
  <div class="menu-header">
    <div class="avatar">{{ (user?.nombre || user?.name || 'U')[0].toUpperCase() }}</div>
    <div class="user-info">
      <span class="user-name">{{ user?.nombre || user?.name || 'Usuario' }}</span>
      <span class="user-role">{{ rol?.descripcion || rol?.nombre || 'Sesión activa' }}</span>
    </div>
  </div>

  <ion-content>
    <ion-list>

      <div class="section-label">Páginas</div>

      <ng-container *ngFor="let p of appPages">

        <!-- Item sin subpáginas -->
        <ng-container *ngIf="p.subpages !== null && !p.subpages; else hasSubpages">
          <ion-menu-toggle auto-hide="false">
            <ion-item
              class="nav-item"
              (click)="navigateTo(p.url)"
              lines="none"
              routerDirection="root"
              [routerLink]="[p.url]"
              detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-outline'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ng-container>

        <!-- Item con subpáginas (acordeón) -->
        <ng-template #hasSubpages>
          <ion-item
            class="nav-item has-sub"
            [class.open]="p.open"
            (click)="toggleSubmenu(p)"
            lines="none">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-outline'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
            <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
          </ion-item>

          <div class="submenu" *ngIf="p.open">
            <ng-container *ngFor="let sub of p.subpages">
              <ion-menu-toggle auto-hide="false">
                <ion-item
                  class="nav-item submenu-item"
                  (click)="navigateTo(sub.url)"
                  lines="none"
                  routerDirection="root"
                  [routerLink]="[sub.url]"
                  detail="false"
                  routerLinkActive="selected">
                  <ion-icon slot="start" [ios]="sub.icon + '-outline'" [md]="sub.icon + '-outline'"></ion-icon>
                  <ion-label>{{ sub.title }}</ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ng-container>
          </div>
        </ng-template>

      </ng-container>

      <!-- Sección cuenta -->
      <div class="section-divider"></div>
      <div class="section-label">Cuenta</div>

      <ion-menu-toggle auto-hide="false">
        <ion-item class="logout-item" (click)="logOut()" lines="none" detail="false">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <ion-label>Cerrar sesión</ion-label>
        </ion-item>
      </ion-menu-toggle>

    </ion-list>
  </ion-content>

</ion-menu>
