<app-main-header titulo="Inventario"></app-main-header>
<ion-content [fullscreen]="true" id="main-content" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-segment [(ngModel)]="segmento">
    <ion-segment-button (click)="ObtenerProducutos()" value="productos">
      <ion-label>Productos</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="ObtenerBebidas()" value="bebidas">
      <ion-label>Bebidas</ion-label>
    </ion-segment-button>
  </ion-segment>
  <br>
  <div class="table-container" *ngIf="segmento === 'productos'">
    <table class="tabla" *ngIf="loaded">
      <thead>
        <tr>
          <th>Producto</th>
          <!-- <th>Cantidad</th> -->
          <!-- <th>Vendidos</th> -->
          <th>Categoria</th>
          <!-- <th>Disponibles</th> -->
          <th>Fecha de modificación</th>
          <th *ngFor="let suc of sucursales">Existencias {{suc.sucursal}}</th>
          <th *ngIf="rol.id === 1" colspan="2">Acciones</th>
        </tr>
      </thead>
      <tbody *ngIf="productos && productos.length !== 0">
        <tr *ngFor="let producto of productos;" class="option">
          <td>{{producto.nombre}}</td>
          <!-- <td>{{producto.cantidad}}</td> -->
          <!-- <td>{{producto.vendidos}}</td> -->
          <td>{{producto.categorias.categoria}}</td>
          <!-- <td>{{producto.cantidad}}</td> -->
          <td>{{producto.fecha}}</td>
          <!-- <td><ion-button class="crear ion-margin-top" style="margin-top: 8px;" (click)="vercantidades(producto.productosexitencias)">
              Disponibles
            </ion-button></td> -->
          <td>
            <table>
              <thead>
                <tr>
                  <th>Sucursal</th>
                  <th>Cantidad</th>
                  <th>Vendidos</th>
                  <th>Disponibles</th>
                </tr>
              </thead>
              <tbody *ngFor="let d of producto.productosexitencias; let i = index">
                <tr *ngIf="i === 0">
                  <td>{{ d.sucursales.sucursal }}</td>
                  <td>{{ d.cantidad }}</td>
                  <td>{{ d.vendidos }}</td>
                  <td>{{ d.disponibles }}</td>
                </tr>
              </tbody>
            </table>
          </td>

          <td>
            <table>
              <thead>
                <tr>
                  <th>Sucursal</th>
                  <th>Cantidad</th>
                  <th>Vendidos</th>
                  <th>Disponibles</th>
                </tr>
              </thead>
              <tbody *ngFor="let d of producto.productosexitencias; let i = index">
                <tr *ngIf="i === 1">
                  <td>{{ d.sucursales.sucursal }}</td>
                  <td>{{ d.cantidad }}</td>
                  <td>{{ d.vendidos }}</td>
                  <td>{{ d.disponibles }}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="actions-cell" *ngIf="rol.id === 1">
            <ion-button fill="clear" (click)="Opciones(producto)">
              <ion-icon name="ellipsis-vertical-outline"></ion-icon>
            </ion-button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="!productos || productos.length === 0">
        <tr class="no-productos">
          <td colspan="7">Aún no has registrado productos</td>
        </tr>
      </tbody>
    </table>
    <app-skeleton *ngIf="!loaded" [columns]="8" type="tabla"></app-skeleton>

  </div>

  <div class="table-container" *ngIf="segmento === 'bebidas'">
    <table class="tabla" *ngIf="loaded">
      <thead>
        <tr>
          <th>Bebida</th>
          <!-- <th>Cantidad</th> -->
          <!-- <th>Vendidos</th> -->
          <th>Categoria</th>
          <!-- <th>Disponibles</th> -->
          <th>Fecha modificación</th>

          <th *ngFor="let suc of sucursales">Existencias {{suc.sucursal}}</th>

          <th *ngIf="rol.id === 1" colspan="2">Acciones</th>
        </tr>
      </thead>
      <tbody *ngIf="BebidaArry && BebidaArry.length !== 0">
        <tr class="option" *ngFor="let bebida of BebidaArry">
          <td>{{ bebida.nombre }}</td>
          <!-- <td>{{ bebida.cantidad }}</td> -->
          <!-- <td>{{ bebida.vedidos }}</td> -->
          <td>{{ bebida.categorias.categoria }}</td>
          <!-- <td>{{ bebida.cantidad }}</td> -->
          <td>{{ bebida.fecha }}</td>
          <!-- <td><ion-button class="crear ion-margin-top" style="margin-top: 8px;"
              (click)="vercantidades(bebida.bebidasexitencias)">
              Disponibles
            </ion-button></td> -->
          <td>
            <table>
              <thead>
                <tr>
                  <th>Sucursal</th>
                  <th>Cantidad</th>
                  <th>Vendidos</th>
                  <th>Disponibles</th>
                </tr>
              </thead>
              <tbody *ngFor="let d of bebida.bebidasexitencias; let i = index">
                <tr *ngIf="i==0">
                  <td>{{ d.sucursales.sucursal }}</td>
                  <td>{{ d.cantidad }}</td>
                  <td>{{ d.vendidos }}</td>
                  <td>{{ d.disponibles }}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td>
            <table>
              <thead>
                <tr>
                  <th>Sucursal</th>
                  <th>Cantidad</th>
                  <th>Vendidos</th>
                  <th>Disponibles</th>
                </tr>
              </thead>
              <tbody *ngFor="let d of bebida.bebidasexitencias; let i = index">
                <tr *ngIf="i==1">
                  <td>{{ d.sucursales.sucursal }}</td>
                  <td>{{ d.cantidad }}</td>
                  <td>{{ d.vendidos }}</td>
                  <td>{{ d.disponibles }}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td *ngIf="rol.id === 1" class="actions-cell">
            <ion-button fill="clear" (click)="Opciones(bebida)">
              <ion-icon name="ellipsis-vertical-outline"></ion-icon>
            </ion-button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="!BebidaArry || BebidaArry.length === 0">
        <tr class="no-bebidas">
          <td colspan="7">No hay datos disponibles</td>
        </tr>
      </tbody>
    </table>
    <app-skeleton *ngIf="!loaded" [columns]="8" type="tabla"></app-skeleton>
  </div>
</ion-content>