<ion-header class="header">
  <ion-toolbar class="header">
    <ion-title color="light"><ion-icon name="menu"></ion-icon>Mis Platillos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main">
  <div class="container">
    <div class="ion-grid">
      <ion-row>
        <ion-col size="11"></ion-col>
        <ion-col size="1">
          <div class="header-cotainer">
            <ion-button (click)="AbrirModalPlatillo()" class="crear">
              <ion-icon name="add-circle-outline"></ion-icon>
              <div class="button-text">Crear</div>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="table-container">
      <table class="tabla">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Receta</th>
            <th>Precio</th>
            <th>Precio Empleado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let platillo of PlatilloArry">
            <td>{{ platillo.nombre }}</td>
            <td>{{ platillo.idcategoria }}</td>
            <td>{{ platillo.idreceta }}</td>
            <td>{{ platillo.precio }}</td>
            <td>{{ platillo.precioempleado }}</td>
            <td>
              <ion-button (click)="EditarPlatillo(platillo)" fill="clear" color="primary">
                <ion-icon name="create-outline"></ion-icon>
              </ion-button>
              <ion-button (click)="EliminarPlatillo(platillo)" fill="clear" color="danger">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </td>
          </tr>
          <tr *ngIf="PlatilloArry.length === 0">
            <td colspan="6">No hay datos disponibles</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>