<app-main-header titulo="Administrar Ordenes"></app-main-header>
<ion-content [fullscreen]="true" id="main-content">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="div" *ngIf="!caja">
        <ion-card class="custom-card">
            <ion-card-content>
                <h5>Caja cerrada</h5>
            </ion-card-content>
        </ion-card>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col size="6"></ion-col>
            <ion-col size="6">
                <ion-select [(ngModel)]="idu" (ionChange)="change()" label="Sucursal">
                    <ion-select-option *ngFor="let sucursal of sucursales" [value]="sucursal.id">{{ sucursal.sucursal}}</ion-select-option>
                </ion-select>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="table-container ion-padding" *ngIf="caja">
        <table class="tabla" *ngIf="loaded">
            <thead>
                <tr>
                    <th>ID ORDEN</th>
                    <th>Mesa</th>
                    <th>Mesero</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th colspan="2">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr class="option" *ngFor="let orden of ordenes">
                    <td>#ORDN{{ orden.id }}</td>
                    <td>{{ orden.mesas.descripcion }}</td>
                    <td>{{orden.usuarios.nombre}}</td>
                    <td>{{ orden.fecha }}</td>
                    <td>{{ getEstado(orden.estado) }}</td>
                    <td>${{ orden.total }}</td>
                    <td class="actions-cell">
                        <ion-button fill="clear" (click)="Opciones(orden)">
                            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                        </ion-button>
                    </td>
                </tr>
                <tr *ngIf="ordenes.length === 0">
                    <td colspan="7">No hay ordenes disponibles</td>
                </tr>
            </tbody>
        </table>
        <app-skeleton [columns]="7" *ngIf="!loaded" type="tabla"></app-skeleton>
    </div>
</ion-content>