<app-main-header titulo="Panel de control"></app-main-header>
<ion-content [fullscreen]="true" id="main-content">
  <div class="container">
    <app-card titulo="Catalogos" subtitulo="Gestiona los Catalogos" pagina="/inicio"></app-card>
    <app-card titulo="Inventario" subtitulo="Gestiona el inventario" pagina="/inventario"></app-card>
    <app-card titulo="Empleados" subtitulo="Gestiona a tus Empleados" pagina="/empleados"></app-card>
    <app-card titulo="Ventas" subtitulo="Gestiona las ventas" pagina="/dashboard"></app-card>
  </div>
</ion-content>