
<app-main-header titulo="{{titulo}} Detalle de Receta" [isModal]="true"></app-main-header>
<ion-content class="ion-padding custom-content">
  <ion-grid>
    <ion-card class="custom-card">
      <ion-card-content>
        <ion-row>
          <ion-col size="12">
            <h1>Datos de la receta</h1>
            <ion-row>
              <ion-col size="6">
                <ion-item lines="none">
                  <ion-input label="Nombre receta" labelPlacement="floating" [(ngModel)]="nombrereceta" type="text" name="nombrereceta" id="nombrereceta"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item lines="none">
                  <ion-select label="Categoria" [(ngModel)]="idcategoria" name="idcategoria">
                    <ion-select-option *ngIf="loaded" [value]="0">Selecciona una categoria</ion-select-option>
                    <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.id">{{
                      categoria.categoria }}</ion-select-option>
                    <app-skeleton *ngIf="!loaded" [columns]="1" type="option"></app-skeleton>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-item lines="none">
              <ion-label position="floating">Duración:</ion-label>
              <ion-input [(ngModel)]="dura" name="dura" type="number" id="dura"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card class="custom-card">
      <ion-card-content>
        <ion-row>
          <ion-col size="12">
            <h1>Pasos</h1>
            <ion-item lines="none">
              <ion-input label="Paso" labelPlacement="floating" type="text" id="pasos" name="pasos" [(ngModel)]="pasos"></ion-input>
            </ion-item>
            <ion-button expand="block" (click)="agregaPaso()">
              <ion-icon name="add-outline"></ion-icon> Agregar paso
            </ion-button>
            <ion-list>
              <ion-item lines="none" *ngFor="let paso of pasosArray; let index = index">
                <ion-label>{{index + 1}}. {{ paso }}</ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card class="custom-card">
      <ion-card-content>
        <ion-row>
          <ion-col size="6">
            <h1>Ingredientes</h1>
          </ion-col>
          <ion-col size="6">
            <ion-button (click)="settype('isingredient')"
              [ngStyle]="{'--background': isingredient ? 'blue' : 'white', 'color': isingredient ? 'white' : 'black'}">
              <ion-icon name="pizza"></ion-icon>
            </ion-button>
            <ion-button (click)="settype('isibebida')"
              [ngStyle]="{'--background': isibebida ? 'blue' : 'white', 'color': isibebida ? 'white' : 'black'}">
              <ion-icon name="beer"></ion-icon>
            </ion-button>
            <ion-button (click)="settype('isfree')"
              [ngStyle]="{'--background': isfree ? 'blue' : 'white', 'color': isfree ? 'white' : 'black'}">
              <ion-icon name="tablet-portrait"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-item lines="none" *ngIf="isingredient">
              <ion-select label="Ingrediente" [(ngModel)]="producto" name="producto">
                <ion-select-option *ngIf="loaded" [value]="0">Selecciona un ingrediente</ion-select-option>
                <ion-select-option *ngFor="let producto of productos" [value]="producto">{{ producto.nombre
                  }}</ion-select-option>
                <app-skeleton *ngIf="!loaded" [columns]="1" type="option"></app-skeleton>
              </ion-select>
            </ion-item>

            <ion-item lines="none" *ngIf="isibebida">
              <ion-select label="Bebida" [(ngModel)]="bebida" name="bebida">
                <ion-select-option *ngFor="let bebida of BebidaArry" [value]="bebida">{{ bebida.nombre
                  }}</ion-select-option>
                <app-skeleton *ngIf="!loaded" [columns]="1" type="option"></app-skeleton>
              </ion-select>
            </ion-item>

            <ion-item lines="none" *ngIf="isfree">
              <ion-label position="floating">Ingrediente:</ion-label>
              <ion-input [(ngModel)]="descripcionlibre" name="descripcionlibre" type="text"
                id="descripcionlibre"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item lines="none">
              <ion-input label="Cantidad" labelPlacement="floating" type="number" id="cantidadi" name="cantidadi" [(ngModel)]="cantidadi"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-button expand="block" (click)="agregarIngrediente()">
          <ion-icon name="add-circle-outline"></ion-icon> Agregar ingrediente
        </ion-button>
        <ion-list>
          <ion-item lines="none" *ngFor="let prd of prodsArray; let index = index">
            <ion-label *ngIf="prd.productos">{{ prd.productos.nombre }} {{ prd.cantidad }}</ion-label>
            <ion-label *ngIf="prd.bebidas">{{ prd.bebidas.nombre }} {{ prd.cantidad }}</ion-label>
            <ion-label *ngIf="prd.ingredientenobd">{{ prd.ingredientenobd }} {{ prd.cantidad }}</ion-label>
            <ion-button fill="clear" color="danger" (click)="eliminaringrediente(prd.id, prd.idlistaingredientes)">
              <ion-icon name="trash-outline"></ion-icon> Eliminar
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card class="custom-card">
      <ion-card-content>
        <h1>Imágenes</h1>
        <ion-row>
          <ion-col size="12">
            <ion-item lines="none">
              <input type="file" accept="image/*" multiple (change)="onFileSelected($event)">
            </ion-item>
            <ion-list>
              <ion-item lines="none" *ngFor="let image of Imagenes; let i = index">
                <img [src]="image.cadenab64" alt="Imagen" class="recipe-image" />
                <ion-button fill="clear" color="danger" (click)="eliminarImagen(image.id, image.idlistaimagen)">
                  <ion-icon name="trash-outline"></ion-icon> Eliminar
                </ion-button>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" (click)="guardar()">
          <ion-icon name="save-outline"></ion-icon> Guardar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>