<div class="ion-padding" style="padding-bottom: 110px;">
  <!-- <ion-searchbar show-cancel-button="focus" [(ngModel)]="criterio" placeholder="Buscar"></ion-searchbar> -->
  <ion-list lines="none" *ngIf="isPlatillo">
    <ion-item>
      <ion-searchbar animated="true" placeholder="Buscar" [(ngModel)]="criterio" (ionInput)="onSearchInput($event)">
      </ion-searchbar>
    </ion-item>
    <ng-container *ngFor="let categoria of agruparPorCategoria(PlatilloArry)">
      <ion-item-divider color="light">{{ categoria.nombre }}</ion-item-divider>
      <ion-item *ngFor="let pl of categoria.platillos" (click)="Dissmiss(pl)">
        <ion-grid>
          <ion-row>
            <ion-col size="6">{{ pl.nombre }}</ion-col>
            <ion-col size="6" class="ion-text-end">${{ preciocliente ? pl.precio : pl.precioempleado}}</ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>
    </ng-container>
    <ion-item *ngIf="PlatilloArry.length === 0 && loaded">No hay platillos</ion-item>
    <ion-item *ngIf="!loaded">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-item>
  </ion-list>

  <ion-list lines="none" *ngIf="!isPlatillo">
    <ion-item>
      <ion-searchbar animated="true" placeholder="Buscar" [(ngModel)]="criterio" (ionInput)="onSearchInput($event)">
      </ion-searchbar>
    </ion-item>
    <ion-list-header>
      Bebidas
    </ion-list-header>
    <ion-item *ngFor="let bd of BebidaArry" (click)="Dissmiss(bd)">
      <ion-grid [ngStyle]="{'background-color': getcolor(bd)}">
        <ion-row>
          <ion-col size="6">{{bd.nombre}}</ion-col>
          <ion-col size="6" class="ion-text-end">${{ preciocliente ?  bd.precioventa : bd.precioempleados}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item *ngIf="BebidaArry === 0 && loaded">No hay Bebidas</ion-item>

    <ion-item *ngIf="!loaded">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-item>
  </ion-list>
  <ion-list lines="none" *ngIf="!isPlatillo">
    <ion-list-header>
      Bebidas preparadas
    </ion-list-header>
    <ion-item *ngFor="let bd of bebsPrp" (click)="Dissmiss(bd, true)">

      <ion-grid>
        <ion-row>
          <ion-col size="6">{{bd.nombre}}</ion-col>
          <ion-col size="6" class="ion-text-end">${{ preciocliente ? bd.precio  : bd.precioempleado}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item *ngIf="bebsPrp === 0 && loaded">No hay preparados</ion-item>

    <ion-item *ngIf="!loaded">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-item>
  </ion-list>

</div>