<app-main-header titulo="Categorias"></app-main-header>

<ion-content [fullscreen]="true" id="main-content">
  <div class="container ion-padding">
    <ng-container *ngFor="let subcategoria of subcategorias; let i = index;">
      <ion-accordion-group>
        <ion-accordion value="{{ subcategoria.id }}">
          <ion-item slot="header" color="light">
            <ion-label>{{ subcategoria.subcategoria }}</ion-label>
            <ion-button (click)="AbrirModal(subcategoria.id, 'Nueva')" class="crear">
              <ion-icon name="add-circle-outline"></ion-icon>
              <div class="button-text">Crear</div>
            </ion-button>
          </ion-item>
          
          <div slot="content">
            <table class="categories-table tabla">
              <thead>
                <tr>
                  <th>Subcategoría</th>
                  <th colspan="2">Categoría</th>
                  
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let categoria of filterCategoriesBySubcategory(categorias, subcategoria.id);">
                  <tr>
                    <td>{{ subcategoria.subcategoria }}</td>
                    <td>{{ categoria.categoria }}</td>
                    <td class="actions-cell">
                      <ion-button fill="clear" (click)="Opciones(categoria)">
                        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                      </ion-button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ng-container>
  </div>
</ion-content>
