<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="!isModal" (click)="goBack()" fill="clear">
        <ion-icon slot="icon-only" color="light" name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isModal" (click)="dissmiss()" fill="clear">
        <ion-icon slot="icon-only" color="light" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ titulo }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button *ngIf="!isModal" color="light" auto-hide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-side-menu></app-side-menu>