<app-main-header titulo="Ordenes Pendientes"></app-main-header>
<ion-content [fullscreen]="true" id="main-content">
  <ion-card *ngIf="ordenes.length === 0 && loaded" class="custom-card">
    <ion-card-content>
      <h5 class="ion-text-center ion-padding">No se ha realizado ninguna orden todavia</h5>
    </ion-card-content>
  </ion-card>
  <ion-grid>

    <ion-row *ngIf="ordenes.length !== 0 && loaded && mensaje != error">
      <ion-col size-lg="4" size-sm="12" *ngFor="let orden of ordenes">
        <ion-card class="custom-card option notif">
          <ion-card-content>
            <ion-card>
              <ion-card-content>
                <ion-card-title class="ion-text-center">{{updateTimer(orden)}}</ion-card-title>
                <div class="notification-circle" *ngIf="notificaciones[orden.id]">+{{notificaciones[orden.id]}}</div>
              </ion-card-content>
            </ion-card>
            <app-detalleorden [mesa]="orden.mesas" [tiempo]="tiemposTranscurridos[orden.id]" [ordenC]="orden"></app-detalleorden>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!loaded">
      <ion-col size="4"> <app-skeleton *ngIf="!loaded" [columns]="5" type="cards"></app-skeleton>
      </ion-col>
      <ion-col size="4"> <app-skeleton *ngIf="!loaded" [columns]="5" type="cards"></app-skeleton>
      </ion-col>
      <ion-col size="4"> <app-skeleton *ngIf="!loaded" [columns]="5" type="cards"></app-skeleton>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-content *ngIf="mensaje == error">

  <ion-card class="custom-card">
    <ion-card-content>
      <h5>Las ordenes no llegarán, la caja no se activado, por tanto, no se pueden realizar</h5>
    </ion-card-content>
  </ion-card>
</ion-content>