<app-main-header titulo="Detalle de la Receta" [isModal]="true"></app-main-header>

<ion-content>
  <ion-card class="custom-card" *ngIf="receta">
    <ion-card-header>
      <ion-card-title>Receta #{{ receta.id }}</ion-card-title>
      <ion-card-subtitle>{{ receta.listaingredientes.descripcion }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Tiempo de preparación:</strong> {{ receta.tiempopreparacion }} minutos</p>
    </ion-card-content>
  </ion-card>

  <!-- Ingredientes -->
  <ion-card class="custom-card" *ngIf="receta">
    <ion-card-header>
      <ion-card-title>Ingredientes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li *ngFor="let ingrediente of receta.listaingredientes.ingredientes">
          {{ ingrediente.productos.nombre }} - {{ ingrediente.cantidad }}
        </li>
      </ul>
    </ion-card-content>
  </ion-card>

  <!-- Pasos -->
  <ion-card class="custom-card" *ngIf="receta">
    <ion-card-header>
      <ion-card-title>Pasos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div [innerHTML]="receta.pasoshtml" class="steps"></div>
    </ion-card-content>
  </ion-card>

  <!-- Imagenes -->
  <ion-card class="custom-card" *ngIf="receta">
    <ion-card-header>
      <ion-card-title>Imágenes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ng-container *ngIf="receta.imagenes && receta.imagenes.length > 0; else noImagesTemplate">
        <div class="images">
          <ion-item *ngFor="let imagen of receta.imagenes">
            <img [src]="imagen.url" alt="Imagen de receta" />
          </ion-item>
        </div>
      </ng-container>
      <ng-template #noImagesTemplate>
        <p>No hay imágenes disponibles para esta receta.</p>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>
