<app-main-header titulo="Cierres e inicios"></app-main-header>

<ion-content [fullscreen]="true" id="main-content">

    <ion-segment [(ngModel)]="segmento">
        <ion-segment-button (click)="obtenerCortesActivos(true)" value="estado">
            <ion-label>Estado de la caja</ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="obtenerCortesPasados(true)" value="cerradas">
            <ion-label>Estados pasados</ion-label>
        </ion-segment-button>
    </ion-segment>

    <div class="estado ion-padding" *ngIf="segmento === 'estado'">
        <ion-card class="custom-card" *ngIf="CorteActivo.length > 0">
            <ion-card-content *ngFor="let corte of CorteActivo">
                <ion-grid>
                    <ion-row>
                        <ion-col size-lg="6" size-sm="12">
                            <ion-card *ngIf="loaded2">
                                <ion-card-header>
                                    <ion-card-subtitle>Fecha y hora de inicio</ion-card-subtitle>
                                </ion-card-header>
                                <ion-card-content>
                                    <ion-list lines="none">
                                        <ion-item>
                                            <ion-label>Fecha de inicio:</ion-label>
                                            <ion-label slot="end">{{ getpart(corte.fechainicio, 0) }}</ion-label>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label>Hora de inicio:</ion-label>
                                            <ion-label slot="end">{{ getpart(corte.fechainicio, 1) }}</ion-label>
                                        </ion-item>
                                        <ion-item>
                                            <ion-button class="crear" *ngIf="roles.id === 1" (click)="CerarCaja(corte)" expand="full">Cerrar
                                                la caja</ion-button>
                                            <ion-button class="crear" (click)="vergraficopasado(corte)" expand="full">Ver gráfico</ion-button>
                                        </ion-item>
                                    </ion-list>
                                </ion-card-content>
                            </ion-card>
                            <app-skeleton *ngIf="!loaded2" [columns]="3" type="cards"></app-skeleton>

                        </ion-col>
                        <ion-col size-lg="6" size-sm="12">
                            <ion-card *ngIf="loaded2">
                                <ion-card-header>
                                    <ion-card-subtitle>Datos de la caja</ion-card-subtitle>
                                </ion-card-header>
                                <ion-card-content>
                                    <ion-list lines="none">
                                        <ion-list>
                                            <ion-item *ngFor="let label of labels; let i = index"
                                                class="ion-margin-bottom" [style.background-color]="colores[i]">
                                                <div style="height: 100%; width: 10px;"
                                                    [style.background-color]="colores[i]"></div>
                                                <ion-label>{{ label }}:</ion-label>
                                                <ion-label slot="end">${{ data[i] }}</ion-label>
                                            </ion-item>
                                        </ion-list>
                                    </ion-list>
                                </ion-card-content>
                            </ion-card>
                            <app-skeleton *ngIf="!loaded2" [columns]="8" type="cards"></app-skeleton>

                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
        <ion-card class="custom-card" *ngIf="CorteActivo.length === 0">
            <ion-card-content>
                <ion-text>La caja fue cerrada, contacta con el administrador para activar la caja o volver a activar la
                    pasada</ion-text>
                <ion-button *ngIf="roles.id === 1" class="crear" (click)="Iniciar()" expand="full">Abrir
                    la caja</ion-button>
            </ion-card-content>
        </ion-card>
    </div>

    <div class="estado" *ngIf="segmento !== 'estado'">
        <div class="container">
            <div class="table-container">
                <table class="tabla" *ngIf="loaded1">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Fecha de Inicio</th>
                            <th>Fecha de Cierre</th>
                            <th>Total Autos</th>
                            <th>Total Cocina</th>
                            <th>Total Caja</th>
                            <th>Suma Total</th>
                            <th>Salió de Caja</th>
                            <th>Ganancias</th>
                            <th>Sucursal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of CortePasado; let i = index" class="option" (click)="Opciones(data, i)">
                            <td>{{ data.id }}</td>
                            <td>{{ data.fechainicio }}</td>
                            <td>{{ data.fechacierre }}</td>
                            <td>${{ data.totalautos }}</td>
                            <td>${{ data.totalcocina }}</td>
                            <td>${{ data.totalcaja }}</td>
                            <td>${{ data.sumatotal }}</td>
                            <td>${{ data.saliodecaja }}</td>
                            <td>${{ data.ganancias }}</td>
                            <td>{{ data.sucursales.sucursal }}</td>
                        </tr>
                        <tr *ngIf="CortePasado.length === 0">No se ha cerrado ninguna caja</tr>
                    </tbody>
                </table>
                <app-skeleton *ngIf="!loaded1" [columns]="11" type="tabla"></app-skeleton>

            </div>
        </div>

    </div>

</ion-content>