<app-main-header titulo="Dashboard Ventas"></app-main-header>
<ion-content [fullscreen]="true" id="main-content" class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Caja</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col lg-size="4" sm-size="12">
            <app-card titulo="Caja" subtitulo="Observa el estado de la caja y cajas pasadas" pagina="/cierre"></app-card>
          </ion-col>
          <ion-col lg-size="4" sm-size="12">
            <app-card titulo="Cortes" subtitulo="Observa los cortes de caja realizados" pagina="/corte"></app-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Mis ventas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col lg-size="4" sm-size="12">
            <app-card titulo="Lavados" subtitulo="Observa todos los lavdos de autos realizados" pagina="/lavado"></app-card>
          </ion-col>
          <ion-col lg-size="4" sm-size="12">
            <app-card titulo="Ordenes" subtitulo="Observa todas las ordenes realizadas" pagina="/caja"></app-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


</ion-content>
