/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";
@import '@ionic/angular/css/palettes/high-contrast.always.css'; // Light palette


.container {
  padding: 16px;
}

ion-content {
  --background: #fff
}

ion-toolbar {
  --background: #2c507c;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110px;
}

.header {
  background-color: #2c507c;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110px;
}

ion-toolbar ion-title {
  font-size: 24px;
  color: #fff;
}

.crear {
  --background: #2c507c;
  --color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.btn-crear ion-icon {
  font-size: 24px;
}

.btn-crear .button-text {
  font-size: 10px;
}

.table-container {
  overflow-x: auto;
}


.container {
  padding: 16px;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.btn-crear {
  --background: transparent;
  --color: #3880ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-align: center;
  padding: 8px 16px;
  margin: 0;
}

.btn-crear:hover {
  --background: #dfdfdf;
}

.btn-crear ion-icon {
  font-size: 24px;
}

.btn-crear .button-text {
  font-size: 10px;
}

.table-container {
  overflow-x: auto;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.tabla {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
}

.tabla th,
.tabla td {
  padding: 12px;
  text-align: center;
  /* Alineación horizontal */
  vertical-align: middle;
  /* Alineación vertical */
}

.tabla th {
  text-align: center;
  /* Alineación horizontal */
  vertical-align: middle;
  background-color: #2c507c;
  color: white;
}

.tabla td {
  background-color: #fff;
  color: #000;
}


.tabla tr:hover td {
  background-color: #8ab4e9;
  color: #fff;
}

.tabla tr:last-child td {
  border-bottom: 0;
}


.custom-action-delete-sheet-button {
  background-color: rgba(255, 154, 154, 0.2);
  color: red;
  font-weight: bold;
}


.fullscreen-modal {
  --width: 100%;
  --height: 100%;
  --max-width: 100%;
  --max-height: 100%;
  --border-radius: 0;
  --margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.custom-card {
  position: relative;
  padding-left: 10px;
}

.custom-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #2c507c;
}

.actions-cell {
  text-align: center;
}

.actions-cell ion-button {
  --padding-start: 0;
  --padding-end: 0;
}

.tachado {
  text-decoration: line-through;
}

.option {
  cursor: pointer;
}

.custom-action-delete-sheet-button {
  background-color: rgba(255, 154, 154, 0.2);
  color: red;
  font-weight: bold;
}

.custom-action-delete-sheet-button {
  --background: rgba(255, 154, 154, 0.2);
  --color: red;
  font-weight: bold;
}