.order-details {
    .order-info {
      margin-bottom: 20px;
    }
  
    .order-section {
      margin-top: 20px;
    }
  
    .order-item {
      margin-bottom: 15px;
    }
  
    h3.section-header {
      margin-bottom: 10px;
      font-weight: bold;
      padding: 15px;
      font-size: 20px;
      background-color: #f0f0f0; /* Color de fondo del separador */
      border-radius: 5px; /* Opcional: redondea los bordes */
    }
  
    p {
      margin: 0;
      font-size: 16px;
    }
  
    strong {
      font-weight: bold;
    }
  }
  
.timer {
  color: #fff; /* Color blanco */
  font-size: 1.5rem; /* Tamaño de fuente más grande */
  padding-right: 1rem; /* Padding derecho */
}


.order-item {
  position: relative; /* Añadido para que .button-container sea relativo a .order-item */
}

.order-item .info {
  position: relative; /* Añadido para que .button-container sea relativo a .info */
  padding: 10px;
}

.order-item .info .button-container {
  position: absolute;
  top: 10px; /* Ajusta la distancia desde la parte superior */
  right: 10px; /* Ajusta la distancia desde la derecha */
}

.order-item .info .button-container ion-button {
  margin-left: 10px; /* Espacio entre los botones */
}
