.order-details {
    .order-info {
      margin-bottom: 20px;
    }
  
    .order-section {
      margin-top: 20px;
    }
  
    .order-item {
      margin-bottom: 15px;
    }
  
    h3.section-header {
      margin-bottom: 10px;
      font-weight: bold;
      padding: 10px;
      background-color: #f0f0f0; /* Color de fondo del separador */
      border-radius: 5px; /* Opcional: redondea los bordes */
    }
  
    p {
      margin: 0;
      font-size: 16px;
    }
  
    strong {
      font-weight: bold;
    }
  }
  