<app-main-header titulo="Informacion del producto"></app-main-header>
<ion-content class="main" id="main-content">

    <div class="table-container ion-padding">
        <table class="tabla" *ngFor="let d of data">
            <thead>
                <tr>
                    <th>Sucursal</th>
                    <th>Cantidad</th>
                    <th>Vendidos</th>
                    <th>Disponibles</th>
                </tr>
            </thead>
            <tbody>
                <tr class="option">
                    <td>{{d.sucursales.sucursal}}</td>
                    <td>{{d.cantidad}}</td>
                    <td>{{d.vendidos}}</td>
                    <td>{{d.disponibles}}</td>
                </tr>
            </tbody>
        </table>
    </div>


</ion-content>