<app-main-header titulo="Detalle de la venta" [isModal]="true"></app-main-header>
<ion-content>
  <div *ngIf="!sst && !isrev" class="ion-padding">
    <ion-card *ngIf="orden.length != 0" class="custom-card">
      <ion-card-content>
        <div class="item-container">
          <ion-grid>
            <ion-row *ngFor="let platillo of orden.ordenesplatillos">
              <ion-col size="5">
                <h2 class="platillo-nombre">{{ platillo.cantidad }} {{
                  platillo.platillos.nombre }}</h2>
              </ion-col>
              <ion-col size="7">
                <h2 class="platillo-precio ion-text-end">${{ platillo.platillos.precio * platillo.cantidad
                  }}</h2>
              </ion-col>
            </ion-row>
          </ion-grid>


        </div>

        <div class="item-container" *ngIf="orden.ordenesbebidas.length > 0">
          <ion-grid>
            <ion-row *ngFor="let bebida of orden.ordenesbebidas">
              <ion-col size="5">
                <h2 class="bebida-nombre">{{ bebida.cantidad }} {{ bebida.bebidas.nombre }}</h2>
              </ion-col>
              <ion-col size="7">
                <h2 class="bebida-cantidad ion-text-end">$ {{ bebida.cantidad * bebida.bebidas.precioventa }}</h2>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

        <div class="item-container" *ngIf="lavadosSeleccionados.length > 0">
          <ion-grid>
            <ion-row *ngFor="let lavagregado of lavadosSeleccionados">
              <ion-col size="12">
                {{lavagregado.lavadodet[0].Tipos_Vehiculos.tipo_vehiculo}}
              </ion-col>
              <ion-col size="12">
                <ion-row *ngFor="let det of lavagregado.lavadodet">
                  <ion-col size="5">
                    <h2 class="bebida-nombre">{{det.Servicios.nombre_servicio}}</h2>
                  </ion-col>
                  <ion-col size="5">
                    <h2 class="bebida-cantidad ion-text-end">$ {{det.Servicios.precio}}</h2>
                  </ion-col>
                  <ion-col size="2" class="ion-text-end">
                    <ion-button color="danger" size="small" (click)="Eliminar(lavagregado)">
                      <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>

            </ion-row>
          </ion-grid>
        </div>


        <div class="item-container" *ngIf="lavadospendientes.length >0">
          <ion-label *ngIf="!lavadoenorden">¿Agregar lavado a la orden?</ion-label>
          <ion-checkbox *ngIf="!lavadoenorden" [(ngModel)]="lavadoenorden"></ion-checkbox>
          <ion-select *ngIf="lavadoenorden" [(ngModel)]="lavagregado" placeholder="Lavado a cobrar" [multiple]="true"
            (ionChange)="agregarLavados($event)">
            <ion-select-option *ngFor="let pend of lavadospendientes" [value]="pend">
              {{ pend.lavadodet[0].Tipos_Vehiculos.tipo_vehiculo }} ${{ pend.total }}
            </ion-select-option>
          </ion-select>


        </div>

        <div class="total-container">
          <ion-label class="ion-text-end total-label">
            <h5>Total: ${{ ordentotal(orden) }}</h5>
          </ion-label>
        </div>

        <div class="item-container">
          <ion-input *ngIf="orden.estado === 4" style="font-size: 20px;" label="Recibo" labelPlacement="floating"
            [(ngModel)]="serecibe" (ionChange)="ccambio()" name="serecibe" type="number"></ion-input>


          <ion-button *ngIf="orden.estado === 4" class="crear" (click)="ticket()" expand="full">Siguiente</ion-button>
          <ion-button *ngIf="orden.estado === 3" slot="end" class="crear" (click)="cerrar()" expand="full">Cerrar
            orden</ion-button>

        </div>

      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="lavado.length != 0" class="custom-card">
      <ion-card-header>
        <ion-card-title>Detalles del Lavado</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="lavado-detalle" *ngFor="let lavado of lavado">
          <ion-grid>
            <h5>{{lavado.lavadodet[0].Tipos_Vehiculos.tipo_vehiculo}}</h5>
            <ion-row *ngFor="let det of lavado.lavadodet">
              <ion-col size="5">
                <h2 class="servicio-nombre">{{ det.Servicios.nombre_servicio }}</h2>
              </ion-col>
              <ion-col size="7">
                <h2 class="servicio-precio ion-text-end">$ {{ det.Servicios.precio }}</h2>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="5">
                <h2 class="servicio-nombre">SubTotal</h2>
              </ion-col>
              <ion-col size="7">
                <h2 class="servicio-precio ion-text-end">$ {{lavado.total}}</h2>
              </ion-col>
            </ion-row>

          </ion-grid>
        </div>
        <ion-row class="ion-padding">
          <ion-col size="5">
            <h2 class="servicio-nombre">Total</h2>
          </ion-col>
          <ion-col size="7">
            <h2 class="servicio-precio ion-text-end">$ {{obtenerTotal()}}</h2>
          </ion-col>
        </ion-row>
        <div class="item-container">
          <ion-input style="font-size: 20px;" label="Recibo" labelPlacement="floating" [(ngModel)]="serecibe"
            (ionChange)="ccambio()" name="serecibe" type="number"></ion-input>
          <ion-button color="primary" class="crear" (click)="ticket()" expand="full">Siguiente</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <iframe src="" name="noneframe" style="display: none;" frameborder="0"></iframe>

  <div class="detai" *ngIf="sst || isrev">

    <ion-grid>
      <ion-row>
        <ion-col sm-size="12" lg-size="4" class="ion-margin-top ion-padding" *ngIf="!isrev">
          <div class="item-container">
            <iframe src="" name="noneframe" style="display: none;" frameborder="0"></iframe>

            <ion-label>Cambio: ${{cambio}}</ion-label>
          </div>
          <ion-button color="primary" class="crear" (click)="volver()" expand="full">Volver al detalle</ion-button>
          <br>
          <ion-item lines="none">
            <ion-label>Imprimir ticket</ion-label>
            <ion-checkbox [(ngModel)]="imprimirTicket" slot="end"></ion-checkbox>
          </ion-item>
          <br>
          <!-- <button styleSheetFile="assets/css/custom1.css" printSectionId="print-section" ngxPrint>print</button> -->
          <br>
          <ion-button color="primary" class="crear" (click)="lavado.length !== 0 ? cobrarl() : cobrar()"
            expand="full">Cobrar</ion-button>
        </ion-col>

        <ion-col sm-size="12" lg-size="4" class="ion-margin-top ion-padding" *ngIf="isrev">
          <ion-input fill="outline" style="font-size: 20px;" label="Recibo" labelPlacement="floating"
            [(ngModel)]="serecibe" (ionChange)="ccambio()" name="serecibe" type="number"></ion-input>

            <ion-button color="primary" class="crear" (click)="imprimir('print-section')"
            expand="full">Reimprimir Ticket</ion-button>
        </ion-col>
        <ion-col sm-size="12" lg-size="8">

          <!--ticket -->
          <div id="print-section" class="body-tt ion-margin-top">
            <div class="header-tt">
              <p class="no-spacing">{{usuario.sucursales.sucursal}}</p>
              <img src="https://i.imgur.com/eOH1QhH.jpeg" width="150" alt="">
              <span class="no-spacing" style="font-size: 14px;;">{{usuario.sucursales.direccion}}</span>
              <ion-grid>
                <ion-row>
                  <ion-col size="12" class="no-spacing" style="font-size: 12px; text-align: center;">Tel. 7242677775
                    Fecha:
                    {{orden.fecha}}</ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <div class="content" *ngIf="orden.length != 0" style="font-size: 12px;">
              <div class="item" *ngFor="let detallep of orden.ordenesplatillos">
                <span>{{detallep.cantidad}}X {{detallep.platillos.nombre}}</span>
                <span>${{detallep.platillos.precio * detallep.cantidad}}</span>
              </div>
              <div *ngIf="orden.ordenesbebidas.length>0">
                <div class="item" *ngFor="let detalleb of orden.ordenesbebidas">
                  <span>{{detalleb.cantidad}}X {{detalleb.bebidas.nombre}}</span>
                  <span>${{detalleb.bebidas.precioventa * detalleb.cantidad}}</span>
                </div>
              </div>
              <!-- <div class="item" *ngIf="lavagregado">
                <span>{{lavagregado.lavadodedt[0].Tipos_Vehiculos.tipo_vehiculo}}</span>
                <span>{{lavagregado.total}}</span>
              </div> -->
              <div *ngIf="lavagregado" style="font-weight: bolder;">
                <div>---------Lavados-------</div>
                <div *ngFor="let lavagregado of lavadosSeleccionados">
                  <div class="item">
                    <span>{{lavagregado.lavadodet[0].Tipos_Vehiculos.tipo_vehiculo}}</span>
                    <span></span>
                  </div>
                  <div class="item" *ngFor="let det of lavagregado.lavadodet">
                    <span>{{det.Servicios.nombre_servicio}}</span>
                    <span>${{det.Servicios.precio}}</span>
                  </div>
                </div>

              </div>

              <div class="item total">
                <span>Total: </span>
                <span>${{ordentotal(orden)}}</span>
              </div>
            </div>
            <div class="content" *ngIf="lavado.length != 0" style="font-size: 12px;">
              <div *ngFor="let lavado of lavado">
                <div class="item">
                  <span>{{lavado.lavadodet[0].Tipos_Vehiculos.tipo_vehiculo}}</span>
                  <span></span>
                </div>
                <div class="item" *ngFor="let det of lavado.lavadodet">
                  <span>{{det.Servicios.nombre_servicio}}</span>
                  <span>${{det.Servicios.precio}}</span>
                </div>
              </div>

              <div class="total">
                <span>Total: </span>
                <span>${{obtenerTotal()}}</span>
              </div>
            </div>
            <div class="" style="font-size: 12px;">
              <div class="item">
                <span>Paga con: </span>
                <span>${{serecibe}}</span>
              </div>
              <div class="item">
                <span>Cambio: </span>
                <span>${{cambio}}</span>
              </div>
              <span style="font-size: 12px;">-------------------------------</span>
            </div>
            <div class="footer no-spacing" style="font-size: 12px;">
              <p *ngIf="orden" class="no-spacing" style="text-align: left;">Mesa: {{orden.mesas.descripcion}}</p>
              <p *ngIf="orden" class="no-spacing" style="text-align: left;">Atendió: {{orden.usuarios.nombre}}</p>
              <p class="no-spacing">¡Gracias por su compra!</p>
              <p class="no-spacing">Vuelva pronto</p>
            </div>
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>


  </div>


</ion-content>