<app-main-header titulo="{{titulo}} bebidas" [isModal]="true"></app-main-header>
<ion-content>
  <ion-card class="custom-card">
    <ion-card-content class="ion-padding">
      <ion-list>
        <ion-list-header>
          <h1>Bebidas</h1>
        </ion-list-header>
        <ion-item lines="none">
          <ion-input labelPlacement="floating" label="Nombre de la bebida" name="nombre" placeholder="Nombre"
            [(ngModel)]="bebidas.nombre" clearInput>
          </ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-select [(ngModel)]="bebidas.idcategoria" placeholder="Categoría">
            <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.categoria
              }}</ion-select-option>
            <app-skeleton *ngIf="!loaded" [columns]="1" type="option"></app-skeleton>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-input labelPlacement="floating" label="Precio" name="precioventa" placeholder="Precio"
            [(ngModel)]="bebidas.precioventa" type="number" clearInput>
          </ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-input labelPlacement="floating" label="Precio Empleado" name="precioempleados"
            placeholder="Precio Empleado" [(ngModel)]="bebidas.precioempleados" type="number" clearInput>
          </ion-input>
        </ion-item>

        <ion-button expand="full" (click)="confirmar()">Guardar</ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>